<ion-side-menus enable-menu-with-back-views="false" drag-content="false" >

  <ion-side-menu-content>
    <ion-nav-bar class="bar-contador">
      <ion-nav-buttons side="left" >
        <button class="white-color button button-icon button-clear ion-navicon" menu-toggle="left" id="button-left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-gear-a white-color" menu-toggle="right"></button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent" class="slide-left-right"></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-contador-reverse bar-contador-borderbottom">
      <button menu-close class="button button-full button-positive sem-margem font-20 width-48" ng-click="newCounter();" ng-if="name">
        Novo
      </button>
      <button menu-close class="button button-full button-positive sem-margem font-20" ng-class="{'width-48': name}" ng-click="openCounter();">
        Abrir<span ng-if="!name">  Contador</span>
      </button>
    </ion-header-bar>

    <ion-content>
      <ion-list>
        <ion-item ng-repeat="count in counters | orderBy:'-id'" ng-click="showActionCounter(count.id);" ng-class="{'item-menu-vermelho': count.sync != 1}">
          {{count.token}} - {{count.title}}<br />{{count.date}} - {{count.type}}<br />Contador:{{count.value}}<span ng-if="name"> - Total:{{count.total}}</span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-contador-reverse bar-contador-borderbottom bar bar-header disable-user-behavior">
    </ion-header-bar>

    <ion-content>
      <div class="list">
        <li class="item item-toggle">
           Vibrar Botão +
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-click="alterVibrationAdd(vibrationAdd);" ng-model="vibrationAdd"/>
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Vibrar Botão -
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-click="alterVibrationSubtract(vibrationSubtract);" ng-model="vibrationSubtract"/>
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <div class="item range range-positive" ng-if="!isIOS()">
          Tempo de Vibração
          <input type="range" min="10" step = "100" max="2000" ng-model="intencity" ng-change="alterIntencity(intencity);">
        </div>
        <label class="item item-input">
          <span class="input-label">Intervalo</span>
          <input type="number" min="1" step="1" ng-model="interval" ng-change="alterInterval(interval);">{{interval}}
        </label>
      </div>
    </ion-content>
    <ion-footer-bar class="bar-positive">
      <span class="button button-clear white-color" ng-if="name">{{name}} - <span class="button button-clear white-color" ng-click="removeAdmin();">Sair</span></span>
      <button class="button button-clear white-color" ng-click="showPopupAdmin();" menu-close ng-if="!name">Sou Líder</button>
    </ion-footer-bar>

  </ion-side-menu>
</ion-side-menus>
